<div class="pt-9 w-full flex flex-wrap md:flex-nowrap justify-center items-center">
<div class="w-full">

<img src="../../../../assets/img/base.png"  class="w-full" alt=""></div>
<div >
    <h2 class="text-center text-[30px] my-10"><a href="">Project 1.0</a> </h2>


    <div class=" font-medium text-[16px] text-[#415b5b] px-12" >
        <p><strong>Project 1.0</strong> is the firt advanced project of the angular and tailwind that  was develop by Bilal Ahma. It is completely different from my  previous one. Thus, if you are using Anguler then use this practice.</p>
        <p style="font-weight:600; margin-top: 20px;">Why choose Claue version 2?. </p>
        <ul style="list-style: disc; padding-left:25px; font-style:italic; margin-bottom: 20px;">
        <li>Based on Anguler.</li>
        <li>Meet all standards of Angular & Typecript.</li>
        <li>Significant performance improvement.</li>
        <li>Compatible with most third-party extensions.</li>
        </ul>
        <p>Project 1.0 is fully compatible with Tailwind: v3.0</p>
        <p>Compatible with  Angularja and Typecript: 17.0 and lattet version of Typecript</p>
        </div>
</div>

</div>