<div
  class=" min-w-sm bg-white bg-cover bg-left-top p-6 shadow-lg h-[667px] bg-fixed overflow-hidden md:h-[100vh]  mb-16 "
  style="background-image: url('../../../assets/img/bg.png');"
  >
  
  <div class="mt-[138px] w-full">

  <h5
    class="mb-7 text-xl font-medium leading-tight   dark:text-neutral-50">
    Hi! My name is Bilal Ahmad 
  </h5>
  <h2
    class="mb-7 text-3xl font-medium leading-tight ani dark:text-neutral-50">
   The Best Project Of Angular + Tailwind Css
  </h2>
  <h5
  class="mb-7 text-xl font-medium leading-tight   dark:text-neutral-50 flex flex-col gap-2 md:flex-row">
  <span> Compatibal With</span> <span> this project it gives me </span> <span>  chill </span>
  </h5>

  <div class="flex flex-col gap-3 md:flex-row">

  <button
    type="button"
    class="inline-block rounded-3xl bg-[#56CFE1] w-[220px] h-[52px]  text-white shadow-lg  font-semibold text-[18px]"
  >
    VIEW DEMOS
  </button>

  <button
    type="button"
    class="inline-block rounded-3xl bg-[#ffffff] w-[220px] h-[52px]  text-black shadow-lg font-semibold text-[18px]"
    >
   BUY NOW
  </button></div>

  </div>

</div>